[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "test/sample-project"]
	path = test/sample-project
	url = https://github.com/kigster/cmake-project-template
[submodule "test/serial/serial"]
	path = test/serial/serial
	url = https://github.com/wjwwood/serial.git
